{% extends 'base.html'%}
{% load static %}
{% block content %}

        <section class="as_breadcrum_wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h1>Blogs</h1>

                        <ul class="breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li>Blogs</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section class="as_blog_wrapper as_padderTop80 as_padderBottom80">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="row">
                            {% for blogs in blog %}
                            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                <div class="as_blog_box">
                                    <div class="as_blog_img">
                                        <a href="{% url 'blogdetail' blogs.slug %}"><img src="{{blogs.photo.url}}" alt="" class="img-responsive"></a>
                                        <span class="as_btn">{{blogs.created_date}}</span>
                                    </div>

                                    <h4 class="as_subheading"><a href="{% url 'blogdetail' blogs.slug %}">{{blogs.title}}.</a></h4>
                                    <p class="as_font14 as_margin0">{{blogs.description|slice:":100"|safe}}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>



{% endblock %}