{% extends 'base.html'%}
{% load static %}
{% block content %}

        <section class="as_breadcrum_wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h1>Contact</h1>

                        <ul class="breadcrumb">
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li>Contact Us</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="as_contact_section as_padderTop80">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="as_contact_info">
                            <h1 class="as_heading">Contact Information</h1>
                            <p class="as_font14 as_margin0">{{contact.about_us}}</p>

                            <div class="row">
                                <div class="col-xl-6 col-lg-12 col-md-6 col-sm-6 col-xs-12">
                                    <div class="as_info_box">
                                        <span class="as_icon"><img src="assets/images/svg/call1.svg" alt=""></span>
                                        <div class="as_info">
                                            <h5>Call Us</h5>
                                            <p class="as_margin0 as_font14">{{contact.contact_no}}</p>
                                            <p class="as_margin0 as_font14">{{contact.contact_no_2}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-12 col-md-6 col-sm-6 col-xs-12">
                                    <div class="as_info_box">
                                        <span class="as_icon"><img src="assets/images/svg/mail.svg" alt=""></span>
                                        <div class="as_info">
                                            <h5>Mail Us</h5>
                                            <p class="as_margin0 as_font14"><a href="javascript:;"> {{contact.email}}</a></p>
                                            <p class="as_margin0 as_font14"><a href="javascript:;"></a>{{contact.additional_email}}</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="as_contact_form">
                            <h4 class="as_subheading">Have A Question?</h4>
                            <form action="{% url 'send_message' %}" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label>Full Name</label>
                                    <input type="text" name="name" id="name" class="form-control" >
                                </div>
                                <div class="form-group">
                                    <label>Email Address</label>
                                    <input type="text" name="email" id="email" class="form-control" >
                                </div>

                                <div class="form-group">
                                    <label>Contact Number</label>
                                    <input type="text" name="phone" id="phone" class="form-control" >
                                </div>


                                <div class="form-group">
                                    <label>Message</label>
                                    <textarea name="message" id="message" class="form-control"></textarea>
                                </div>
                                <button type="submit" class="as_btn">Send Message</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="as_map_section">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4078764.9924000916!2d-105.6681527148753!3d45.09540905234947!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54eab584e432360b%3A0x1c3bb99243deb742!2sUnited%20States!5e0!3m2!1sen!2sin!4v1614404007812!5m2!1sen!2sin" width="100%" height="743px" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </section>
        <section class="as_footer_wrapper as_padderTop80">
            <div class="container">
                    <div class="as_newsletter_wrapper as_padderBottom60">
                        <div class="row">
                            <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">
                                <h1 class="as_heading">Our Newsletter</h1>
                                <p>Get Your Daily Horoscope, Daily Lovescope and Daily<br> Tarot Directly In Your Inbox</p>
                            </div>
                            <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12">
                                <div class="as_newsletter_box">
                                    <input type="text" name="" id="" class="form-control" placeholder="Enter your Email Here...">
                                    <a href="javascript:;" class="as_btn">subscribe now</a>
                                </div>
                            </div>
                        </div>
                    </div>


{% endblock %}