{% extends 'base.html'%}
{% load static %}
{% block content %}
        <section class="as_breadcrum_wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h1>Service Details</h1>

                        <ul class="breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li>Service Details</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="as_servicedetail_wrapper as_padderBottom80 as_padderTop80">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12">
                        <div class="as_service_detail_inner">
                            <img src="assets/images/service_single.jpg" alt="" class="img-responsive">

                            <h1 class="as_heading">{{service_desc.title}}</h1>

                            <p class="as_font14">{{service_desc.description}}  </p>

                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4 as_padderBottom20">
                                    <img src="assets/images/s1.jpg" alt="" class="img-responsive">
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 as_padderBottom20">
                                    <img src="assets/images/s2.jpg" alt="" class="img-responsive">
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 as_padderBottom20">
                                    <img src="assets/images/s3.jpg" alt="" class="img-responsive">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="as_know_sign_wrapper as_padderBottom80 as_padderTop80">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h1 class="as_heading as_heading_center">Know Your Zodiac Sign</h1>
                        <p class="as_font14 as_margin0 as_padderBottom50">Consectetur adipiscing elit, sed do eiusmod tempor incididuesdeentiut labore <br>etesde dolore magna aliquapspendisse and the gravida.</p>


                        <div class="as_sign_form text-left">
                            <ul>
                                <li class="as_form_box">
                                    <h3 class="as_subheading">Date Of Birth</h3>
                                    <div class="as_input_feild">
                                        <input type="text" name="" class="form-control as_datepicker" placeholder="DD/MM/YYYY" id="">
                                        <span><img src="assets/images/svg/date.svg" alt=""></span>
                                    </div>
                                </li>
                                <li class="as_form_box">
                                    <h3 class="as_subheading">Time Of Birth</h3>
                                    <div class="as_input_feild">
                                        <input type="text" name="" class="form-control as_timepicker" placeholder="08:00" id="">
                                        <span><img src="assets/images/svg/time.svg" alt=""></span>
                                    </div>
                                </li>
                                <li class="as_form_box">
                                    <h3 class="as_subheading">Place Of Birth</h3>
                                    <div class="as_input_feild">
                                        <input type="text" name="" class="form-control" placeholder="Enter City Name...." id="">
                                        <span><img src="https://templatebundle.net/" alt=""></span>
                                    </div>
                                </li>
                                <li class="as_form_box">
                                   <a href="javascript:;" class="as_btn">find zodiac</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="as_overview_wrapper as_padderBottom80 as_padderTop80">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h1 class="as_heading as_heading_center">Daily Planetary Overview</h1>
                        <p class="as_font14 as_margin0 as_padderBottom50">Consectetur adipiscing elit, sed do eiusmod tempor incididuesdeentiut labore <br>etesde dolore magna aliquapspendisse and the gravida.</p>



                        <div class="as_overview_slider">
                            <div class="as_overview_inner">
                                <h4 class="as_orange">Mercury in Aries square Mars in Capricorn </h4>
                                <p class="as_font14">Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum It has survived not only five rinter took a galley of type and scrambled it centuries, but also the passages,</p>
                                <span class="as_btn"><img src="assets/images/svg/calender.svg" alt=""> July 29, 2020</span>
                            </div>
                            <div class="as_overview_inner">
                                <h4 class="as_orange">Mercury in Aries square Mars in Capricorn </h4>
                                <p class="as_font14">Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum It has survived not only five rinter took a galley of type and scrambled it centuries, but also the passages,</p>
                                <span class="as_btn"><img src="assets/images/svg/calender.svg" alt=""> July 29, 2020</span>
                            </div>
                            <div class="as_overview_inner">
                                <h4 class="as_orange">Mercury in Aries square Mars in Capricorn </h4>
                                <p class="as_font14">Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum It has survived not only five rinter took a galley of type and scrambled it centuries, but also the passages,</p>
                                <span class="as_btn"><img src="assets/images/svg/calender.svg" alt=""> July 29, 2020</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="as_footer_wrapper as_padderTop80">
            <div class="container">
                    <div class="as_newsletter_wrapper as_padderBottom60">
                        <div class="row">
                            <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">
                                <h1 class="as_heading">Our Newsletter</h1>
                                <p>Get Your Daily Horoscope, Daily Lovescope and Daily<br> Tarot Directly In Your Inbox</p>
                            </div>
                            <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12">
                                <div class="as_newsletter_box">
                                    <input type="text" name="" id="" class="form-control" placeholder="Enter your Email Here...">
                                    <a href="javascript:;" class="as_btn">subscribe now</a>
                                </div>
                            </div>
                        </div>
                    </div>


{% endblock %}